
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Channel</th>
      <th scope="col">User</th>
      <th scope="col">Days</th>
      <th scope="col">Working time (UTC)</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>

  <% @duties.each do |duty| %>
    <tr>
      <td><%= duty.channel.name %></td>
      <td><%= duty.user.name %></td>
      <td><%= duty.duty_days %></td>
      <td><%= duty.duty_from.strftime( "%H:%M" ) %> - <%= duty.duty_to.strftime( "%H:%M" ) %></td>
      <td><%= duty.enabled %></td>
      <td><%= link_to "delete", duty_path(duty.id), method: :delete, data: { confirm: "You sure?" } %></td>
    </tr>
  <% end %>
</table>

